body {
  font-family: "Verdana", sans-serif;
  font-size: 20pt;
  color: #5F9EA0;
  text-align: center;
}

h1 {
  font-size: 50pt;
}

div {
  display: block;
}

.container {
  width: 880px;
  margin: 0 auto;
  background-color: #DEB887;
  border: 2px solid #8B7355;
  border-radius: 20px;
  padding: 20px;
}

.playerTwo button {
  float:right;
}

button {
  width: 100px;
  height: 100px;
  background-color: #DEB887;
  border: 2px solid #8B7355;
  border-radius: 50px;
  margin: 5px;
  font-size: 20pt;
  box-shadow: 2px 2px 20px 5px #8B7355 inset;
}

button#pit0 {
  width: 100px;
  height: 210px;
  float: right;
}

button#pit7 {
  width: 100px;
  height: 210px;
  float: left;
}

.info {
  width: 880px;
  height: 80px;
  margin: 50px auto;
  line-height: 80px;
  text-align: center;
  border: 2px dotted #5F9EA0;
  border-radius: 20px;
}
